{% extends "layout.html" %}
{% set active_page = "Dashboard" %}

{% block body %}
<script>
    var value1 = {{values1|safe}};
    var districts1 = {{districts1|safe}};
    var value2 = {{values2|safe}};
    var districts2 = {{districts2|safe}};
    var categories3 = {{categories3|safe}};
    var values3 = {{values3|safe}};
    var category4 = {{category4|safe}};
    var values4 = {{values4|safe}};
</script>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Card 1 -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Total number of apartments <br> in database</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_rows}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fas fa-home fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Card 2 -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Average sale price </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"> PLN {{total_average_price}} ths</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Card 3 -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Average construction year</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_average_construcion}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fas fa-home fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Card 4 -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Average surface</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_average_surface}} m2</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-arrows-alt fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Bar Chart 1 -->
                        <div class="col-xl-12 col-lg-8">
                            <div class="card shadow mb-4">

                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">Average sale price in Warsaw by district</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myBarChart1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Bar Chart 2 -->
                        <div class="col-xl-12 col-lg-8">
                            <div class="card shadow mb-4">

                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">Average surface of apartment</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myBarChart2"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Bar Chart 3 -->
                        <div class="col-xl-7 col-lg-8">
                            <div class="card shadow mb-4">

                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">Number of apartments by surface</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myBarChart3"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart 1 -->
                        <div class="col-xl-5 col-lg-7">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">Primary vs Secondary market [%]</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Primary
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-secondary"></i> Secondary
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                <!-- /.container-fluid -->

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename= 'js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/demo/chart-pie-demo.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/demo/chart-pie-demo2.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/demo/myBarChart1.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/demo/myBarChart2.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/demo/myBarChart3.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/demo/myBarChart4.js') }}"></script>


{% endblock %}