{% extends "layout.html" %}
{% set active_page = "Pricing Tool" %}




{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
                <span type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    <span aria-hidden="true">&times;</span>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Price your apartment</h1>
    </div>
    <!-- Content Row -->
    <div class="row">
                        <div class="col-xl-12 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <!-- Selection form -->
                                    <form method="post">
                                        <div class="row">
                                            <div class="col mb-3">
                                                <label>Surface</label>
                                                <input type="number" class="form-control" placeholder="in m2" min="0" name="surface" value="{{request.form.surface}}">
                                            </div>
                                            <div class="col mb-3">
                                                <label>No. of rooms</label>
                                                <select class="form-control" name="rooms" value="{{request.form.rooms}}">
                                                    {% for i in range(1,6) %}
                                                    <option>{{ i }}</option>
                                                    {% endfor %}
                                                    <option>6+</option>
                                                    <option>n/a</option>
                                                </select>
                                            </div>
                                            <div class="col mb-3">
                                                <label>Floor</label>
                                                <select class="form-control" name="floor" value="{{request.form.floor}}">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6+</option>
                                                </select>
                                            </div>        
                                            <div class="col mb-3">
                                                <label>Monthly charges</label>
                                                <input type="number" class="form-control" placeholder="in PLN" min="0" name="monthly_charges" value="{{request.form.monthly_charges}}">
                                            </div>            
                                        </div>
                                        <div class="row">
                                            <div class="col mb-2">
                                                <label>Building type</label>
                                                <select class="form-control" name="building_type" value="{{request.form.building_type}}">
                                                    <option>blok</option>
                                                    <option>apartamentowiec</option>
                                                    <option>kamienica</option>
                                                </select>
                                            </div>
                                            <div class="col mb-2">                             
                                                <label>Construction year</label>
                                                <input type="number" class="form-control" placeholder="between 1900-2022" min="1900" max="2022" name="construction_year" value="{{request.form.construction_year}}">
                                            </div>
                                            <div class="col mb-2">
                                                <label>Property condition</label>
                                                <select class="form-control" name="property_condition" value="{{request.form.property_condition}}">
                                                    <option>do zamieszkania</option>
                                                    <option>do wykończenia</option>
                                                    <option>do remontu</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col col-md-3">
                                                <!-- <input class="btn btn-primary btn-icon-split btn-block" type="submit" value="Price me!" onclick="random(); move()"> !-->
                                                <button type="submit" class="btn btn-primary btn-block">Price me!</button>
                                            </div>

                                        </div>
                                    </form>
                                    <!-- End of selection form -->
                                </div>
                            </div>
                        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
                <div class="card border-left-success shadow py-2 mb-4">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Esimated price of your apartment</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{valuation}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-home fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-left-success shadow py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Estimated price per m2</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{valuation_sqm}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-money-bill-alt fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Your price per sqm compared to other apartments in the same building types</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                    {% if render_charts == True %}
                        <img class="img-fluid" style="width: 50rem;" src="{{ url_for('static', filename='img/hist_building_type.png') }}">
                    {% endif %}
                    </div>
                    <!---
                    <p>Description here</p>
                    --->
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Your price per sqm compared to other apartments with the same property condition</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                    {% if render_charts == True %}
                        <img class="img-fluid" style="width: 50rem;" src="{{ url_for('static', filename='img/hist_property_condition.png') }}">
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /.container-fluid -->



    <!-- Page level custom scripts -->
    <!-- <script src="static/js/demo/datatables-demo.js"></script> -->

{% endblock %}