{% extends "layout.html" %}
{% set active_page = "Pricing Tool" %}




{% block body %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Price your apartment</h1>
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-xl-12 col-md-6 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
<!--
    surface
    no. of rooms
    market type = wtórny!!!
    building type
    floor
    no. of floors in the building
    windows type
    heating
    construction year
    property condition
    monthly charges
    ownership
-->
                                    <!-- Selection form -->
                                    <form method="post">
                                        <div class="row">
                                            <div class="col mb-2">
                                                <label>Surface</label>
                                                <input type="number" class="form-control" placeholder="30" min="0" name="surface" value="{{request.form.surface}}">
                                            </div>
                                            <div class="col mb-2">
                                                <label>No. of rooms</label>
                                                <select class="form-control" id="rooms">
                                                    {% for i in range(1,6) %}
                                                    <option>{{ i }}</option>
                                                    {% endfor %}
                                                    <option>>5</option>
                                                    <option>n/a</option>
                                                </select>
                                            </div>
                                            <div class="col mb-2">
                                                <label>Building type</label>
                                                <select class="form-control" id="building_type">
                                                    <option>apartamentowiec</option>
                                                    <option>test test blok</option>
                                                    <option>test666 kamienica</option>
                                                    <option>szeregowiec</option>
                                                    <option>n/a</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col mb-2">
                                                <label>Floor</label>
                                                <select class="form-control" id="floor">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>>5</option>
                                                </select>
                                            </div>                  
                                            <div class="col mb-2">                             
                                                <label>Construction year</label>
                                                <input type="number" class="form-control" placeholder="2000" min="1900" max="2022" id="construction_year">
                                            </div>
                                            <div class="col mb-2">
                                                <label>Property condition</label>
                                                <select class="form-control" id="Select3">
                                                    <option>do zamieszkania</option>
                                                    <option>do wykończenia</option>
                                                    <option>do remontu</option>
                                                    <option>n/a</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col col-md-3">
                                                <!-- <input class="btn btn-primary btn-icon-split btn-block" type="submit" value="Price me!" onclick="random(); move()"> !-->
                                                <button type="submit" class="btn btn-primary btn-block">Price me!</button>
                                            </div>

                                        </div>
                                    </form>
                                    <!-- End of selection form -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->



    <!-- Page level custom scripts -->
    <script src="static/js/demo/datatables-demo.js"></script>

{% endblock %}